extends ../templates/default-2.jade
block page


	section.section--header
		
		.section__wrap
			.section__body
				.cols
					.section__flex
						.col-md-6
							.section__content
								h1.section__title El Viaje del Emprendedor
								p.section__description: +lorem(35)

						.col-md-6
							.section__svg
								img(src="img/uploads/7.svg")


	section.section--content
		.section__bg
			.bg
				img(src="img/uploads/geometric.png")
		.section__wrap.section--sm
			.section__body
				.section__content.section--center.dscroll
					h3.section__title ¿Que es The Startup Journey?
					.section__img
						img(src="img/icons/logo-main.png")
					p.section__description: +lorem(55)
					p.section__description: +lorem(45)
	

	section.section--avatar
		.section__wrap
			.section__body
				.cols
					.section__flex
						.col-md-6
							.section__avatar
								img(src="img/uploads/avatar.jpg")
						.col-md-6
							.section__content
								h3.section__title Un modelo construído con experiencia
								p.section__description The Startup Journey: Roberto Musso es emprendedor, director de empresas y consultor en estrategia digital. Junto a sus socios, ha fundado más de 25 startups tecnológicos como: STI, software factory adquirida el año 2000 por Unión Fenosa, AxonAxis, web services hub comprado el 2010 por EquiFax. Además, es presidente de Digevo, un grupo chileno de em-presas tecnológicas con operación en 15 países.
								p.section__name Roberto Musso
								p.section__position Presidente de Digevo
								.section__socials
									.section__social
										a(href="#")
											span.fa.fa-twitter
									.section__social
										a(href="#")
											span.fa.fa-linkedin

	section.section--modules
		.section__wrap
			.section__header
				h3.h2.section__title Módulos
			.section__body
				.cols
					.col-md-4
						article.article--module
							.article__number 1
							.article__icon
								img(src="img/icons/4.svg")
							.article__body
								h4.article__title Emprender en países emergentes
								p.article__subtitle Módulo 1
								p.article__description El desafío y la oportunidad de emprender en países emergentes.
					.col-md-4
						article.article--module
							.article__number 2
							.article__icon
								img(src="img/icons/5.svg")
							.article__body
								h4.article__title La solución evolucionista
								p.article__subtitle Módulo 2
								p.article__description La solución evolucionista.
					.col-md-4
						article.article--module
							.article__number 3
							.article__icon
								img(src="img/icons/6.svg")
							.article__body
								h4.article__title El Viaje del Emprendedor
								p.article__subtitle Módulo 3
								p.article__description “El  Viaje  del  Emprendedor",  una  guía para buscar el éxito.
					.col-md-4
						article.article--module
							.article__number 4
							.article__icon
								img(src="img/icons/7.svg")
							.article__body
								h4.article__title PREMES: claves para el éxito
								p.article__subtitle Módulo 4.1
								p.article__description Premes generales.
								p.article__subtitle Módulo 4.2
								p.article__description Premes emergentes.
							
	section.section--button
		.section__wrap
			.section__body
				.section__button
					a.btn.btn--lg(href="#") Comenzar curso
						span.fa.fa-long-arrow-right