
.preview
	cover(fixed)
	z-index $z-index-modal
	display none

	&.preview--in
		display table
		animation fadeIn .5s ease
		.preview__box
			animation fadeIn .5s .2s ease backwards

	&.preview--out
		display table
		animation fadeOut .2s ease both
		.preview__box
			animation fadeOut .2s ease both
	
	.preview__flex
		display flex
		justify-content space-between
		align-items center
		margin-bottom 20px
		flex-direction column
		@media $break-md
			flex-direction row
		
		.preview__content
			@media $break-md
				max-width 65%
	

	.preview__back
		cover(absolute)
		background rgba(0,0,0,.6)
		border 1px solid rgba(255,255,255,.5)

	.preview__front
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		overflow auto
		padding 80px 0px
		padding-bottom 0
		.preview__box
			overflow hidden
			height auto
	
	.preview__icon
		margin-bottom 20px
		img
			width 80px

	.preview__flex
		display flex
		justify-content space-around
		align-items center


	.preview__box
		background white
		max-width 1200px
		margin 0 auto
		position relative
		padding 40px 20px
		border-radius 10px

		.preview__header
			text-align center
		
		.preview__body
			background-color white
			margin-bottom 40px
			border-radius 10px
			.preview__img
				margin-right 20px
				width 100%
				img
					width 100%
			.preview__subtitle
				opacity .6
				text-decoration underline
				color $dark
				margin-bottom 10px
				display block

					
			.preview__content
				max-width 60%

			.preview__initial
				font-size 18px
				line-height 22px
				margin-bottom 10px
				span
					color $color_primary
					margin-left 10px
					font-weight bold

			.preview__actual
				font-size 18px
				line-height 22px
				margin-bottom 10px
				span
					color $color_primary
					margin-left 10px
					font-weight bold
		
		.preview__footer
			text-align center


			.preview__offert
				max-width 600px
				margin 20px auto
				text-align left
				.preview__text
					font-size 20px
					line-height 24px
					margin-bottom 0
					position relative
					top 10px



	.preview__close
		position absolute
		top 7px
		right 10px
		cursor pointer
		z-index 5
		transition .3s
		&:hover
			span
				color rgba(0,0,0,.6)

		span
			font-size 24px
			line-height 28px
			position relative
			top -1px
			color rgba(0,0,0,.3)


	

	&.preview--remate

		.preview__form
			background-color $light
			padding 20px

		.faq
			padding 0
			.faq__answer
				padding 0 !important
				display block
		
		.preview__body
			background-color white
			padding 10px

		.preview__gallery
			margin 20px 0px
			width 100%
			display block
			background-color transparent
			padding 20px
			border 1px solid rgba(0,0,0,.1)
			.preview__img
				img
					width 100%
					max-width 350px
		
		.preview__offerts
			margin 20px 0px
			width 100%
			display block
			padding 20px
			border 1px solid rgba(0,0,0,.1)

			.preview__offert
				background-color $light
				padding 10px
				display flex
				align-items center
				.preview__avatar
					margin-right 10px
					img
						width 100px
				.preview__title
					margin-bottom 10px
				
				.preview__offert
					width 60%

				.preview__prices
					display flex
					align-items center
					margin-bottom 10px