
footer
	.footer__bg
		.bg
			img(src="img/uploads/geometric.png")

	.footer__wrap

		.footer__links.footer_links--primary
			.cols
				.footer__flex
					.col-sm-12.col-md-4
						.footer__logos

							.footer__logo
								img(src="img/icons/logo-header.png")

							.footer__logo
								img(src="img/icons/corfo.png")
								
						.footer__links__contact
							p.footer__description: +lorem(25)

						.footer__social
							ul
								li: a(href="#"): span.fa.fa-facebook
								li: a(href="#"): span.fa.fa-twitter
								li: a(href="#"): span.fa.fa-instagram
								li: a(href="#"): span.fa.fa-linkedin

					.col-sm-12.col-md-4
						.footer__links__dates
							h3.footer__title Contacto
							p.footer__description Badajoz 45, piso 17, Las Condes.
								span.fa.fa-map
							p.footer__description E-mail: Hola@digevoventures.com
								span.fa.fa-envelope
							p.footer__description Teléfono: +56971436987
								span.fa.fa-phone

					.col-sm-12.col-md-4
						.footer__links
							h3.footer__title Acerca de
							ul
								li: a(href="#") Acerca de nosotros
								li: a(href="#") Términos de uso
								li: a(href="#") FAQ

						

				.col-md-12
					.footer__links.footer__links--secondary
						.footer__copyright
							p.footer__description Copyright © 2018 - Digevo Ventures