header.header--color-static
	.header__bg
		.bg
			img(src="img/uploads/geometric.png")
	.header__primary

		.header__wrap


			.header__inner

				.header__logo
					a(href="index.html")
						img(src="img/icons/logo-header.png")

				.header__nav
					.header__nav__bg

					.header__nav__nav

						.header__nav__close
							div
							div

						.header__nav__back
							div
							div
							div
						
						nav
							.header__item.header__item--mobile
								a.btn(href="login.html") Iniciar sesión
									span.fa.fa-long-arrow-right

							.header__item.header__item--mobile
								a.btn(href="register.html") Registrarse
									span.fa.fa-long-arrow-right


				.header__right

					.header__item.header__item--desktop
						a.btn.btn--transparent(href="login.html") Iniciar sesión
							span.fa.fa-long-arrow-right

					.header__item.header__item--desktop
						a.btn.btn--transparent(href="register.html") Registrarse
							span.fa.fa-long-arrow-right


					.header__item.header__item--ham
						.header__ham
							span
							span
							span




